body {
 background-color: #003c5d;
 font-family: 'Economica', sans-serif;
}

table {
	margin: 0 auto;
	border: 2px solid black; 
	border-collapse: collapse;
}
td {
    width: 50px; height: 50px;
    border-top: 2px solid black; 
    border-left: 2px solid black;
}
td.selectedH{
	 border: 2px solid yellow; 
}
td.selectedT{
	 border: 2px solid lime; 
}
td.validH{
	 background-color: white; 
}
td.validT{
	 background-color: white;
}
td.hasRedHunter{
	background-image: url("https://www.fillmurray.com/40/40");
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}
td.hasRedThief{
	background-image: url("https://www.fillmurray.com/g/40/40");
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}
td.hasBlueHunter{
	background-image: url("https://www.fillmurray.com/45/45");
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}
td.hasBlueThief{
	background-image: url("https://www.fillmurray.com/40/40");
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}


/*tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: white;
}
*/

.myCell {
	background: blue;
}

.enemyCell {
	background: red;
}

#gameContent {
	text-align: center;
	margin: 0 auto;
	width: 60%;
	margin-top: 3%;

}

#gameTitle {
	text-align: center;
}

#chatArea {
	position: fixed;
	right: 0;
	top: 0;
	height:100%;
	width: 20%;

	background-color: #001A33;
	
}

#messages {
	height: 95%;
	color: white;
	 overflow:auto;
}

#listmessages {
	list-style:none;
	word-wrap : break-word;
	padding: 5px;
	margin: 0;
	 overflow:auto;
}

#chatbox {
	height: 5%;

}

#chatinput {
	width: 100%;
	height: 98%;
}

#nickname {

	text-align: center;
	margin: 0 auto;
	width: 60%;
	
}

h3 {

font-family: 'Economica', sans-serif;
text-align: center;

}

input {

border: 0px; 
padding: 10px; 


-webkit-transition: background-color .15s ease-out;
-moz-transition: background-color .15s ease-out;
-o-transition: background-color .15s ease-out;
transition: background-color .15s ease-out;

}

input:focus {
background-color: #001A33;
outline:none;
color:red;
}

#usersonline {
	width: 20%;
	margin: 0 auto;
	background-color: black;
	color: white;
}

#currentlyonline {
		list-style:none;
	word-wrap : break-word;
	padding: 5px;
	margin: 0;
}


#usersonline:hover {
background-color:#001A33;
color:red;
-webkit-transition: background-color .15s ease-out;
-moz-transition: background-color .15s ease-out;
-o-transition: background-color .15s ease-out;
transition: background-color .15s ease-out;

}

#lob {
	list-style:none;
	width: 20%;
	margin: 0 auto;
	background-color: black;
	color: white;

}

#lob:hover {
background-color:#001A33;
color:red;
-webkit-transition: background-color .15s ease-out;
-moz-transition: background-color .15s ease-out;
-o-transition: background-color .15s ease-out;
transition: background-color .15s ease-out;	
}

#joinLobby {
	background-color: #001A33;
	color: red;
	padding: 20px;
	border:none;
}

#leaveLobby {
	background-color: #001A33;
	color: red;
	padding: 20px;
	border:none;
}

#lobbyRoom {
	list-style:none;
	word-wrap: break-word;
}

#readyButton {
	background-color: #001A33;
	color: red;
	padding: 20px;
	border: 1px solid red;
}

#unreadyButton {
	background-color: #001A33;
	color: red;
	padding: 20px;
	border: 1px solid red;
}
